<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<div class="container">
    <% for(let i of sales){ %>
        <div><%= i.id %></div>
        <div><%= i.name %></div>
        <div><%= i.age %></div>
    <% } %>

</div>

<!-- views資料夾名稱為固定，是ejs讀取固定使用 -->
<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>